* {
    box-sizing: border-box;
}

body {
    font-family: Roboto;
    margin: 0px;
}

.section-1 {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 0px 200px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 18px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 18px;
}

a, .text-1 {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.container-1 {
    display: flex;
    padding: 100px 0px;
    gap: 36px;
}

.sub-container-1 {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 9px;
}

.title-1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

button {
    color: white;
    background-color: #3B82F6;
    border-radius: 5px;
    width: 125px;
    padding: 9px;
}

.image {
    color: white;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.section-2 {
    background-color: white;
    text-align: center;
}

.title-2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding: 36px 0px;
}

.container-2 {
    display: flex;
    justify-content: center;
    gap: 36px;
    padding: 0px 200px 100px;
}

.info {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
}

.illustration {
    border-radius: 25px;
    border: 2px solid #3B82F6;
    height: 200px;
    width: 200px;
}

.section-3 {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
}

.container-3 {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 9px;
}

.quote {
    font-size: 36px;
    color:#1F2937;
    font-weight: light;
    font-style: italic;
}

.author {
    font-size: 24px;
    color:#1F2937;
    font-weight: 900;
    text-align: right;
}

.section-4 {
    background-color: white;
}

.container-4 {
    color: white;
    background-color: #3B82F6;
}

.footer {
    color: white;
    background-color: #1F2937;
}